body {
    background-color: #333333;
    color: #CCCCCC;
}

h1, h2 {
    margin: 20px auto;
    text-align: center;
}

main.container {
    margin: 50px auto;
}

#foto {
    border-radius: 50%;
    box-shadow: 0px 0px 20px #8694C1;
    display: block;
    margin: auto;
}

.conhecimentos {
    list-style-type: none;
}

.conhecimentos .row {
    margin: 30px 0;
}

.conhecimentos .row .col {
    text-align: center;
}

.conhecimentos i {
    font-size: 2em;
}

.carousel {
    transition: 1s;
}

.carousel:hover {
    box-shadow: 0px 0px 10px white;
}

/* Legenda do Carrossel */
.carousel-caption {
    background-color: #333333;
    border-radius: 20px;
    color: #CCCCCC;
}

/* Botões do Carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 20px;
    height: 30px;
    padding: 10px !important;
    width: 100px;
}










.html {
    color: #FF3336;
}

.css {
    color: #007DB7;
}

.js {
    color: #EFD81D;
}

.jquery {
    color: #21ACE2;
}

.bootstrap {
    color: #583D7F;
}

.php {
    color: #8694C1;
}

.mysql {
    color: #E3752C;
}