body {
    background-color: #333333;
    color: #CCCCCC;
    overflow-x: hidden;
}

h1, h2 {
    margin: 20px auto;
    text-align: center;
}

main.container {
    margin: 50px auto;
}

.barra,
.barraPreenchida {
    /* border-radius: 50px; */
    height: 25px;
    margin-top: 10px;
}

.barra {
    background-color: white;
    width: 100%;
}

.barraPreenchida {
    /* Azul */
    background-color: #007CBE;

    /* Verde */
    /* background-color: #149911; */

    color: black;
}


#foto {
    border-radius: 500px;
    box-shadow: 0px 0px 30px #007CBE;
    display: block;
    height: 300px;
    margin: auto;
    width: 300px;
}

.conhecimentos {
    list-style-type: none;
}

.conhecimentos .row {
    margin: 30px 0;
}

.conhecimentos .row .col {
    text-align: center;
}

.conhecimentos i {
    font-size: 2em;
}

.carousel {
    transition: 1s;
}

.carousel:hover {
    box-shadow: 0px 0px 10px white;
}

/* Legenda do Carrossel */
.carousel-caption {
    background-color: #333333;
    border-radius: 20px;
    color: #CCCCCC;
}

/* Botões do Carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 20px;
    height: 30px;
    padding: 10px !important;
    width: 100px;
}










.html {
    color: #FF3336;
}

.css {
    color: #007DB7;
}

.js {
    color: #EFD81D;
}

.jquery {
    color: #21ACE2;
}

.bootstrap {
    color: #583D7F;
}

.php {
    color: #8694C1;
}

.mysql {
    color: #E3752C;
}












/* Celular  */
@media screen and (max-width: 763px) {

}